@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;

$contentpadding: 0.75em;
$contentpaddingLarge: 3em;

.header {
    height: 450px;
    background: $red;
    margin-bottom: 80px;

        @include tablet {
            min-height: 550px;
            margin-bottom: 500px;
        }

        @include desktop {
            height: 700px;
            margin-bottom: 500px;
        }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
        height: 100px;
        padding: $contentpadding;

            @include tablet {
                padding: $contentpaddingLarge;
            }

            @include desktop {
                padding: $contentpaddingLarge;
            }

        &--utility {
            display: flex;
            flex-flow: row nowrap;
        }

        &--logo {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;
        padding: $contentpadding;

            @include tablet {
                padding: $contentpaddingLarge;
            }

            @include desktop {
                padding: $contentpaddingLarge;
            }

        &--text {
            width: 100%;

            @include tablet {
                width: 55%;
            }

            @include desktop {
                width: 55%;
            }

            span {
               width: 100%;
               font-size: 35px;
               line-height: 45px;

                @include tablet {
                    width: 55%;
                    font-size: 55px;
                    line-height: 70px;
                }

                @include desktop {
                    width: 55%;
                    font-size: 55px;
                    line-height: 70px;
                } 
            }
            
            .text {
                margin-top: 1em;
            }    
        }

        &--image {
            display: none;

            @include tablet {
                display: block;
                position: absolute;
                width: 550px;
                height: 699px;
                background-color: gray;
                border-radius: 20px;
                margin-left: 55%;
            }

            @include desktop {
                display: block;
                position: absolute;
                width: 550px;
                height: 699px;
                background-color: gray;
                border-radius: 20px;
                margin-left: 55%;
            }
        }
    }
}

.arrow {
    padding-left: $contentpadding;
    padding-right: $contentpadding;
    padding-bottom: $contentpadding;

        @include tablet {
            padding-left: $contentpaddingLarge;
            padding-right: $contentpaddingLarge;
            padding-bottom: $contentpaddingLarge;
        }

        @include desktop {
            padding-left: $contentpaddingLarge;
            padding-right: $contentpaddingLarge;
            padding-bottom: $contentpaddingLarge;
        }
    
    &__img {
        animation: pulse 1s ease-in infinite;
    }
    @keyframes pulse {
        0%, 100% {
            transform: translate(0, 5px)
        }
        50% {
            transform: translate(0, 0)
        }
    }
}