@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;

$contentpadding: 0.75em;
$contentpaddingLarge: 3em;

.wrapper {
    margin-top: 10em;
    margin-bottom: 10em;
    padding-left: $contentpadding;
    padding-right: $contentpadding;

    @include tablet {
        padding-left: $contentpaddingLarge;
        padding-right: $contentpaddingLarge;
    }

    @include desktop {
        padding-left: $contentpaddingLarge;
        padding-right: $contentpaddingLarge;
    }
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .text__big {
        width: 100%;
    }

    .text {
        width: 55%;
    }

    .image {
        height: auto;
    }
}  