@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;

// ::v-deep selector for individual styling of the accordion (when using scoped styles)

::v-deep .accordion {
     .accordion__body {
        transition: 200ms ease-out;

        .content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .text__big {
                width: 100%;
            }

            .text {
                width: 55%;
            }

            &__map {
                width: 100%;
            }

            iframe {
                width: 100%;
            }
        }
    }
}