@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;

$contentpadding: 0.75em;
$contentpaddingLarge: 3em;

.header {
    height: 100vh;
    background: $red;
    margin-bottom: 80px;

        @include tablet {
            margin-bottom: 500px;
        }

        @include desktop {
            margin-bottom: 500px;
        }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        width: 100%;
        margin-bottom: 50px;
        height: 100px;
        padding: $contentpadding;

            @include tablet {
                margin-bottom: 70px;
                padding: $contentpaddingLarge;
            }

            @include desktop {
                margin-bottom: 85px;
                padding: $contentpaddingLarge;
            }

        &--utility {
            display: flex;
            flex-flow: row nowrap;
        }

        &--logo {
            width: 75px;
            height: 100%;
        }
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;
        padding: $contentpadding;

            @include tablet {
                padding: $contentpaddingLarge;
            }

            @include desktop {
                padding: $contentpaddingLarge;
            }

        &--text {
            width: 100%;

            @include tablet {
                width: 100%;
            }

            @include desktop {
                width: 100%;
            }

            span {
               width: 100%;
               font-size: 35px;
               line-height: 45px;

                @include tablet {
                    width: 100%;
                    font-size: 55px;
                    line-height: 70px;
                }

                @include desktop {
                    width: 100%;
                    font-size: 55px;
                    line-height: 70px;
                } 
            }  
        }

        &--image {
            display: none;

            @include tablet {
                display: block;
                position: absolute;
                width: 550px;
                height: 699px;
                background-color: gray;
                border-radius: 20px;
                margin-left: 55%;
            }

            @include desktop {
                display: block;
                position: absolute;
                width: 550px;
                height: 699px;
                background-color: gray;
                border-radius: 20px;
                margin-left: 55%;
            }
        }
    }
}

.splitting__header {

    ::v-deep .headline .word {
            line-height: 0px;
    }

    ::v-deep .headline {
        .word {
            pointer-events: none;
        }

        .char {
            pointer-events: none;
            font-size: 35px;
            line-height: 45px;

            @include tablet {
                    font-size: 55px;
                    line-height: 70px;
                }

                @include desktop {
                    font-size: 55px;
                    line-height: 70px;
                } 
            }

        &--fall {

            .char {
                animation: fall 600ms infinite calc(var(--char-index) * 0.05s) cubic-bezier(0.165, 0.44, 0.64, 1);
            }
                
            @keyframes fall {
                0% {
                    transform: rotateY(-25deg);
                }
                25% {
                    transform: translateY(2%) rotateY(25deg);
                }
                50% {
                    transform: rotateY(-25deg);
                }
                75% {
                    transform: translateY(4%) rotateY(25deg);
                }
                100% {
                    transform: rotateY(-25deg);
                }
            }
        }   

        &--jump {

            .char {
                animation: jump 800ms infinite calc(var(--char-index) * 0.075s) cubic-bezier(0.165, 0.44, 0.64, 1);
            }
                
            @keyframes jump {
                20% {
                  transform: translateY(2%) scaleY(0.9);
                }
                40% {
                  transform: translateY(-50) scaleY(1.2);
                }
                50% {
                  transform: translateY(10%) scaleY(0.8);
                }
                70% {
                  transform: translateY(-5%) scaleY(1);
                }
                80%, 100% {
                  transform: translateY(0) scaleY(1);
                }
            }
        }   
    }
}