@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;

// ::v-deep selector for individual styling of the accordion (when using scoped styles)
::v-deep .accordion {
     .accordion__body {
        transition: 200ms ease-out;

        .content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .text {
                width: 100%;
                margin-bottom: 1em;
                margin-top: 0.5em;

                @include tablet {
                    width: 100%;
                }

                @include desktop {
                    width: 75%;
                }

                @include desktopXL {
                    width: 75%;
                }
            }

            .image {
                height: auto;
            }
        }
    }
} 