@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/typography" as *;

$contentpadding: 0.75em;
$contentpaddingLarge: 3em;

.header {
    height: 550px;
    background: $red;
    margin-bottom: 80px;

        @include tablet {
            min-height: 900px;
            margin-bottom: 500px;
        }

        @include desktop {
            height: 100vh;
            margin-bottom: 500px;
        }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
        height: 100px;
        padding: $contentpadding;

             @include tablet {
                margin-bottom: 70px;
                padding: $contentpaddingLarge;
            }

            @include desktop {
                margin-bottom: 85px;
                padding: $contentpaddingLarge;
            }

            &--utility {
                display: flex;
                flex-flow: row nowrap;
            }

            &--logo {
                width: 100%;
                height: 100%;
            }
        }

    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;

            @include tablet {
                padding: $contentpaddingLarge;
            }

            @include desktop {
                padding: $contentpaddingLarge;
            }

            &--text {
                width: 100%;

                @include tablet {
                    width: 55%;
                }

                @include desktop {
                    width: 55%;
                }
            
            .text__big {
                min-height: 200px;
            }

            &--contact {
                display: flex;
                justify-content: flex-end;
                flex-flow: column wrap;
                width: 10%;
            }      
        }
    }
}