@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/typography" as *;

$contentpadding: 0.75em;
$contentpaddingLarge: 3em;

.header {
    height: 100vh;
    background: $red;
    margin-bottom: 80px;

        @include tablet {
            height: 100vh;
            margin-bottom: 500px;
        }

        @include desktop {
            height: 100vh;
            margin-bottom: 500px;
        }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
        height: 100px;
        padding: $contentpadding;

             @include tablet {
                padding: $contentpaddingLarge;
            }

            @include desktop {
                padding: $contentpaddingLarge;
            }

            &--utility {
                display: flex;
                flex-flow: row nowrap;
            }

            &--logo {
                width: 100%;
                height: 100%;
            }
        }

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 70vh;
        padding-left: $contentpadding;
        padding-right: $contentpadding;
        padding-bottom: $contentpadding;

            @include tablet {
                grid-template-columns: 1fr 1fr;
                padding-left: $contentpaddingLarge;
                padding-right: $contentpaddingLarge;
                padding-bottom: $contentpaddingLarge;
            }

            @include desktop {
                grid-template-columns: 1fr 1fr;
                padding-left: $contentpaddingLarge;
                padding-right: $contentpaddingLarge;
                padding-bottom: $contentpaddingLarge;
            }

            .text__big {
                grid-column: 1;
                grid-row: 2;
            }

            &--text {
                grid-column: 1;
                grid-row: 3;
            }
        &--contact {
                display: flex;
                flex-flow: column wrap;

                @include tablet {
                    text-align: right;
                    grid-column: 2;
                    grid-row:  3;
                }

                @include desktop {
                   text-align: right;
                   grid-column: 2;
                   grid-row: 3;
                } 
            } 
    }
}

.arrow {
    padding-left: $contentpadding;
    padding-right: $contentpadding;
    padding-bottom: $contentpadding;

        @include tablet {
            padding-left: $contentpaddingLarge;
            padding-right: $contentpaddingLarge;
            padding-bottom: $contentpaddingLarge;
        }

        @include desktop {
            padding-left: $contentpaddingLarge;
            padding-right: $contentpaddingLarge;
            padding-bottom: $contentpaddingLarge;
        }
    
    &__img {
        animation: pulse 1s ease-in infinite;
    }
    @keyframes pulse {
        0%, 100% {
            transform: translate(0, 5px)
        }
        50% {
            transform: translate(0, 0)
        }
    }
}