//Transition/content styling is applied in the collection components
//Reason: Individual needs for different content types

@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.accordion {
    width: 100%;
    border-top: thin solid $black;
    border-bottom: thin solid $black;
    margin-top: -1px;
    padding-top: $contentpadding;
    padding-bottom: $contentpadding;

        &__title {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: auto;
            padding-top: $contentpadding;
            padding-bottom: $contentpadding;
            cursor: pointer;

            .plus {
                font-size: 60px;
                font-weight: 300;
                transition-duration: 200ms;
        }
    }

.rotate {
    transform: rotate(45deg);
    transition-duration: 300ms;
}

    &__body {
        overflow: hidden;
        border-top: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

.green {
    background-color: green;
    transition: 2000ms;
}