@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;

.cookie-consent {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 300px;
    height: auto;
    background-color: $black;
    bottom: 1em;
    left: 1em;
    border-radius: 20px;
    padding: 0.5em;

    p {
        color: white;
    }

    button {
        width: auto;
        background-color: $black;
        border: thin solid $white;
        color: $white;
        border-radius: 200px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-left: 1em;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }

    .btn-link {
        color: $white;
        text-decoration: underline;

        &:hover {
            font-style: italic;
        }
    }
}