@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

h1 {
    margin-bottom: 0.5em;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: $margin;

    @include tablet {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 0.75em;
        margin-bottom: $marginLarge;
    }

    @include desktop {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 1em;
        margin-bottom: $marginLarge;
    }

    @include desktopXL {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 1em;
        margin-bottom: $marginLarge;
    }

    .text__big {
        text-transform: uppercase;
        border-top: thin solid $black;
        border-bottom: thin solid $black;

            @include mobileXS {
                margin-bottom: -1px;
            }

            @include mobile {
                margin-bottom: -1px;
            }

            @include tablet {
                margin-bottom: -1px;
            }
    }

    .content {
        display: flex;
        flex-flow: row;
        padding-bottom: 1em;
        padding-top: 1em;
        border-bottom: thin solid $black;
        justify-content: space-between;

            @include mobileXS {
                margin-bottom: -1px;
            }

            @include mobile {
                margin-bottom: -1px;
            }
        
            @include tablet {
                flex-flow: column wrap;
                margin-bottom: -1px;
            }

            @include desktop {
                flex-flow: column wrap;
            }

            @include desktopXL {
                flex-flow: column wrap;
            }

        &__text {
            display: flex;
            flex-flow: column wrap;
            height: 5em;

            @include tablet {
                height: 10em;
            }

            @include desktop {
                height: 10em;
            }

            @include desktopXL {
                height: 10em;
            }
        }

        .text__big {
            text-transform: none;
            border-top: none;
            border-bottom: none;
            font-size: 20px;

            @include tablet {
            font-size: 20px;
            line-height: 26px;
            }

            @include desktop {
                font-size: 24px;
                line-height: 31px;
            }

            @include desktopXL {
                font-size: 30px;
                line-height: 38px;
            }
        }    

        .text__time {
            display: flex;
            border: thin solid $black;
            border-radius: 200px;
            width: 120px;
            justify-content: center;
            align-items: center;
            margin-top: 0.25em;
        }
    }
}

.content__container > :last-child {
    // border-bottom: 0px;

    @include tablet {
        border-bottom: thin solid $black;
    }

    @include desktop {
        border-bottom: thin solid $black;
    }

    @include desktopXL {
        border-bottom: thin solid $black;
    }
}