@use "assets/css/main/colors" as *;
@use "assets/css/main/breakpoints" as *;
@use "assets/css/main/main" as *;

.container > :last-child {
    // margin-top: 7.5em;
    margin-right: 0em;

    @include tablet {
            margin-top: 0em;
            margin-right: 0em;
        }

        @include desktop {
            margin-top: 15em;
            margin-right: 0em;
        }

        @include desktopXL {
            // margin-top: 15em;
            margin-right: 0em;
        }
}

.container {
    display: flex;
    margin-bottom: 0em;

    &__columns {
        width: 100%;
        margin-bottom: 1em;

        @include tablet {
            width: 100%;
            columns: 1;
            margin-right: 2em;
        }

        @include desktop {
            width: 50%;
            columns: 1;
            margin-right: 5em;
        }

        @include desktopXL {
            width: 50%;
            columns: 1;
            margin-right: 5em;
        }

        .content {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            page-break-inside: avoid;
            margin-bottom: 5em;
            border-bottom: thin solid $black;
        }
    }
}

h3 {
    margin-top: 1em;
}

p {
    margin-bottom: 1.5em;
}

.text {
    margin-bottom: 1.5em;
}

.text__big {
    margin-bottom: 1.5em;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;

    @include tablet {
        width: 100%;
        height: auto;
    }

    @include desktop {
        width: 100%;
        height: auto;
    }

    @include desktopXL {
        width: 100%;
        height: auto;
    }
}